<header>

    <h1>{{title}}</h1>
{{!-- sends it to the root folder of webserver using /, and routes it to the other pages using the /pagename --}}

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>